

/*----------------------------------------
title
----------------------------------------*/
.title{
	width:100%;
    	color : #ffffff;
	background-color: #FDF5E6;
	overflow: hidden;
	padding: 5px;
	/*margin-top: 45px;*/
	margin-left:5px;
	
}

.recipename{
	width:90%;
    	color : #600;
   	font-size :x-large;
	float:left;
	
}

.fav{
	width:10%;
	float:right;
	margin-top: 5px;
}

/*.clear {clear:both;}*/


/*----------------------------------------
photo
----------------------------------------*/


.photo{
	width: 280px;
	height: 180px;
	margin:10px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 2px 5px #bbb; /*CSS3*/
	-moz-box-shadow: 0px 2px 5px #bbb; /* Firefox用*/
	-webkit-box-shadow: 0px 2px 5px #bbb; /* Google Chrome, Safari用*/
}

.photo img{
	width: 280px;
	height: 180px;
	text-align:center;
	
}

/*----------------------------------------
つくった　cooked
----------------------------------------*/


#cooked{
	margin: 10px;
	text-align: center;
}

#cooked img{
	width: 160px;
	height: 48px;
}


/*----------------------------------------
deta（time money
----------------------------------------*/

.deta{
	width: 240px;
  height: 40px;
  margin: 0 20px;
  padding: 0 20px 5px 20px;
	border-bottom: dashed 2px #3cb371;
	text-align:center;
}


.datastyle{ 
  width: 70px;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
  font-size: 24px;
  padding-right: 10px;
}


.deta img{
	width: 30px;
	height: 30px;
  margin:0 10px 20px 0;
  float:left;
	position: relative;
	bottom: -10px;
}


/*----------------------------------------
material
----------------------------------------*/

.material {
    border-spacing: 0;
	width: 90%;
	margin: 20px auto;
    border: 1px solid #CCC;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

.material tr:nth-child(even){
	background:#fff;
}
.material tr:nth-child(odd){
	background:#F2faf0;
}

.material th,
.material td {
    padding:10px;
    border-bottom:solid 1px #CCC;
    border-right:solid 1px #CCC;
}
.material th {
    background:#99CC66;
    color:#fff;
    -webkit-border-radius: 10px 0 0 0;
       -moz-border-radius: 10px 0 0 0;
         -o-border-radius: 10px 0 0 0;
            border-radius: 10px 0 0 0;
}


/* -----------------------
  左上角丸　最初の行の最初のセル
----------------------- */
.material tr:first-child th:first-child,
.material tr:first-child td:first-child {
    -webkit-border-radius: 10px 0 0 0;
       -moz-border-radius: 10px 0 0 0;
         -o-border-radius: 10px 0 0 0;
            border-radius: 10px 0 0 0;
}
/* -----------------------
  右上角丸　最初の行の最後のセル
----------------------- */
.material tr:first-child th:last-child,
.material tr:first-child td:last-child {
    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
         -o-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}
/* -----------------------
  左下角丸　最後の行の最初のセル
----------------------- */
.material tr:last-child th:first-child,
.material tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 10px;
       -moz-border-radius: 0 0 0 10px;
         -o-border-radius: 0 0 0 10px;
            border-radius: 0 0 0 10px;
}
/* -----------------------
  右下角丸　最後の行の最後のセル
----------------------- */
.material tr:last-child th:last-child,
.material tr:last-child td:last-child {
    -webkit-border-radius: 0 0 10px 0;
       -moz-border-radius: 0 0 10px 0;
         -o-border-radius: 0 0 10px 0;
            border-radius: 0 0 10px 0;
}



/*----------------------------------------
process
----------------------------------------*/

.process{ 
	width: 90%;
	overflow: hidden;
	margin: 0px auto;
  border-top: solid 2px #99cc66;
  border-bottom: solid 2px #99cc66;
	padding: 10px 0 10px 0;
	background-color: rgba(255,255,255,1);
	line-height: 200%;
	 
}


.number{
	font-size:42px;
    color:#276E38;
	opacity: 0.40;
	filter: alpha(opacity=40);
	-moz-opacity: 0.40;
	-ms-filter: "alpha(opacity=70)";
    font-weight: bold;
	padding: 5px;
	width: 10px;
	float:left;
}

.pro_text{
  border-bottom: solid 2px #eee;
  padding-bottom: 10px;
	width: 75%;
	margin: 20px 0 10px 42px;
	float:left;
}

/*----------------------------------------
つくったボタン
----------------------------------------*/

.cookedBtn {
    margin:10px auto;
    width: 157px;
    height: 45px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ff8a34;
    -webkit-box-shadow: 0 5px 1px #c96d00;
    -moz-box-shadow: 0 5px 1px #c96d00;
    box-shadow: 0 5px 1px #c96d00;
    background-image: -webkit-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: linear-gradient(to top, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
}

.cookedBtn p {
    margin: 0 auto;
    display: table;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 15px;
}


.cookedBtn_on {
    width: 157px;
    height: 45px;
    margin: 14px auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ff8a34;
    -webkit-box-shadow: 0 -3px 1px #b05e00;
    -moz-box-shadow: 0 -3px 1px #b05e00;
    box-shadow: 0 -3px 1px #b05e00;
    background-image: -webkit-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: linear-gradient(to top, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
}
    
