/*-------------------------
 プロフィール
-------------------------*/

#profile{
	width:100%;
    color : #000;
	overflow: hidden;
	padding: 5px;
	/*margin-top: 45px;*/
}

#profile_top{
	height: 25px;
	margin: 10px 10px;
}

#myphoto img{
	height:25px;
	width:25px;
	float:left;
	overflow: hidden;
}

#myname{
	width:30%;
    color: #000;
   	font-size: 8pt;
	float:left;
	overflow: hidden;
	margin-left: 8pt;
}

.myname{
	font-size: 14pt;
	font-weight: bold;
}

table{
	border-spacing: 5pt 0;
}

.follow{
	font-size: 8pt;
	background-color: #ff7f50;
	text-align: center;
	width: 70px;
	height: 25px;
	color: #fff;
	border-radius: 5px 5px;
}

.followcount,.followercount{
	font-size: 8pt;
	color: #fff;
}

#myintro{
	font-size: 9pt;
	margin: 15pt 20px 10pt;
}




/*----------------------------
 タブ切り替え
-----------------------------*/

.tab{
	background-color: #BBB;
}

.tab ul{
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 100%;
	list-style-type: none;
}

.tab ul li{
	float: left;
	width: 33.3%;
	text-align: center;
}

.tab ul li a{
	display: block;
	position: relative;
	background-color: #fff;
}

.tab ul li a img{
	height: 26px;
	margin: 7pt auto;
}

.tab ul li a:hover{
	background-color: #ff8c00;
}

.tab_now a{
	background-color: #ff8c00;
}


/*-----------------------------
 タブ中身（グラフとか）
-----------------------------*/

.tab_title{
	background-color: #eee;
	color: #aaa;
	height: 25px;
	padding-left: 10px;
	padding-top: 15px;
}


/*----------------------------
 グラフ
----------------------------*/

#canvasChart{
	margin: auto;
	position: absolute;
}

#canbasChart_soto{
	position: auto;
}

.valName{
	font-size: 12pt;
	color: #fff;
}


