@charset "UTF-8";
/* CSS Document */ 

#all{
	margin:0 10px 0 0;
}

#question{
	text-align:center;
	margin:20px 0 20px 0;
	font-family: "Hiragino Kaku Gothic Pro";
	font-size: 14px;
	color: #523200;
}

#grid[data-columns]::before {
	content: '2 .column.size-1of2';
}


.column {
	float: left; 
}
.size-1of2 { 
	width:145px;
	padding-left:10px;
}

.box{
 margin:0 0 10px;
 }

.box img{
	width:100%;
}

#btn-0,#btn-1,#btn-2{
	display: none;
}

#coment{
	margin-top:-5px;
	width:145px;
	height:25px;
	background-color: #ffe22d;
}

#coment p{
	text-align:left;
	line-height:15px;
	font-family: "Hiragino Kaku Gothic Pro";
	font-size: 10px;
	color: #523200;
}

[data-columns]::before { display: none; }