@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    font-size:1rem;
    font-weight:normal;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #523200;
}

header,footer,nav{display:block;}

html{
    font:13px/1.3 " HiraKakuProN-W3";
    -webkit-text-size-adjust:none;
}

li{
    list-style:none;
}

a,a:visited,a:hover,a:active {
    text-decoration:none;
    color:#523200;
}

/*----------------------------------------
 全ページ共有ここから
----------------------------------------*/

/*--------------------
 ヘッダー
--------------------*/

#header{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd047), color-stop(1, #edb637));*/
    background-image: url("./img/header.png");
    box-shadow: 0px 0px 10px -2px rgba(93, 56, 3, 0.9);
    z-index: 3;
    color: #523200;
    font-size: 14px;
    letter-spacing: 0.2em;
}

#header ul li{
    text-align: center;
    float: left;
    padding-top: 10px;
    width: 20%;
}

#header ul li a img{
    width:25px;
    height:25px;
}

#header ul li:first-child a img {
    width:20px;
    height:25px;
}

#header ul li#pagename{
    width: 60%;
    padding-top: 10px;
    font-weight: bold;
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: 0.2em;
}



/*------------------------
 背景
------------------------*/

body{
    background-image: url("./img/tate.png");
}


/*------------------------
 中身
------------------------*/

.allcontents{
    margin: 45px 0 45px;
    z-index: 1;
    overflow:hidden;
    width: 320px;
}


/*------------------------
 フッター
------------------------*/

#footer{
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    background-color: #bbac88;
    overflow: hidden;
    box-shadow: 0px 0px 10px -2px rgba(93, 56, 3, 0.9);
    z-index: 3;
}

#footer ul{
    overflow: hidden;
}

#footer ul li{
    text-align: center;
    float: left;
    width: 25%;
}

#footer ul img{
    width:72px;
    height:45px;
}


/*------------------------
 読み込み
------------------------*/

#loader {
    width:100;
    display: none;
    position: fixed;
    _position: absolute; /* IE6対策 */
    top:50%;
    left:50%;
    margin-top: -60px; /* heightの半分のマイナス値 */
    margin-left: -50px; /* widthの半分のマイナス値 */
    z-index: 100;
}
 
#fade {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
	opacity:0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}

/*----------------------------------------
 全ページ共有ここまで
----------------------------------------*/


