/*----------------------------------------
 ヘッダー
----------------------------------------*/

#pagename img {
    display: none;
}

/*----------------------------------------
 見出し
----------------------------------------*/

.headline{
    padding-left: 10px;
    color: white;
    background:url("./img/meshback.png");
    font-size: 15px;
    height: 30px;
    width: 100%;
    padding-top: 5px;
}


/*----------------------------------------
 内容
----------------------------------------*/

.content{
    margin:10px;
}

.content_img{
    margin:10px;
    overflow: hidden;
    height: 90px;

}

input{
       -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

textarea{
       -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}


/*-------------------------
 画像
-------------------------*/

#nowimg img{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-bottom: -9px;
}

table img{
    height: 30px;
    width: 80px;
    margin: 15px 0;
}

#preview img{
    max-width: 60px;
}

#preview{
    height:60px;
    overflow: hidden;
}

/*-------------------------
 入力欄
-------------------------*/

textarea{
    width: 295px;
    height: 70px;
    font-size: 12px;
}

input{
    width: 288px;
    height: 35px;
    font-size: 12px;
}



/*----------------------------------------
 保存ボタン
----------------------------------------*/

.save_btn{
    text-align: center;
    margin: 5px auto 60px auto;
    width: 40px;
    height: 30px;
    background-color: #ccc;
    text-align: center;

    }

.save_btn img{
    height: 35px;
    width: 140px;
}



