/*----------------------------------------
 見出し
----------------------------------------*/

.headline{
    padding-left: 10pt;
    color: white;
    background-color: #A0522D;
    font-size: 15pt;
    height: 30px;
    width: 100%;
    padding-top: 5px;
}


/*----------------------------------------
 内容
----------------------------------------*/

.content{
    margin: 10pt;
}


/*-------------------------
 画像
-------------------------*/

#nowimg img{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-bottom: -9px;
}

table img{
    height: 30px;
    width: 80px;
    margin: 15px 0;
}


/*-------------------------
 入力欄
-------------------------*/

textarea{
    width: 300px;
    height: 70px;
    font-size: 12pt;
}

input{
    width: 288px;
    height: 35px;
    font-size: 12pt;
}



/*----------------------------------------
 保存ボタン
----------------------------------------*/

.save_btn{
    text-align: center;
    margin: 5px auto 10px;
}

.save_btn img{
    height: 35px;
    width: 140px;
}



