/*----------------------------------------
 ヘッダー
----------------------------------------*/

#pagename img {
    display: none;
}

/*----------------------------------------
 見出し
----------------------------------------*/

.headline{
    padding-left: 10px;
    color: white;
    background:url("./img/meshback.png");
    font-size: 15px;
    height: 30px;
    width: 100%;
    padding-top: 5px;
}


/*----------------------------------------
 内容
----------------------------------------*/

.content{
    margin:10px;
}

.content_img{
    margin:10px;
    overflow: hidden;
    height: 90px;

}

input{
       -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

textarea{
       -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}


/*-------------------------
 画像
-------------------------*/

#nowimg img{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-bottom: -9px;
}

table img{
    height: 30px;
    width: 80px;
    margin: 15px 0;
}

#preview img{
    max-width: 60px;
}

#preview{
    height:60px;
    overflow: hidden;
}

/*-------------------------
 入力欄
-------------------------*/

textarea{
    width: 295px;
    height: 70px;
    font-size: 12px;
}

input{
    width: 288px;
    height: 35px;
    font-size: 12px;
}



/*----------------------------------------
 保存ボタン
----------------------------------------*/

/* 
.save_btn{
    text-align: center;
    margin: 5px auto 60px auto;
    width: 40px;
    height: 30px;
    background-color: #ccc;
    text-align: center;

    }

.save_btn img{
    height: 35px;
    width: 140px;
}
 */

.save_btn {
    margin:10px auto;
    width: 157px;
    height: 45px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ff8a34;
    -webkit-box-shadow: 0 5px 1px #c96d00;
    -moz-box-shadow: 0 5px 1px #c96d00;
    box-shadow: 0 5px 1px #c96d00;
    background-image: -webkit-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: linear-gradient(to top, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
}

.save_btn p {
    margin: 0 auto;
    display: table;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 15px;
}


.save_btn_on {
    width: 157px;
    height: 45px;
    margin: 14px auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ff8a34;
    -webkit-box-shadow: 0 -3px 1px #b05e00;
    -moz-box-shadow: 0 -3px 1px #b05e00;
    box-shadow: 0 -3px 1px #b05e00;
    background-image: -webkit-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
    background-image: linear-gradient(to top, rgba(125,45,1,.14), rgba(255,255,255,.04) 70%, rgba(255,255,255,0));
}

