@charset "UTF-8";
/* CSS Document */ 

#l_btn a{
	display: none;
}



#all{
	margin:0 10px 0 0;
}

#question{
	text-align:center;
	margin:20px 0 20px 0;
	font-family: "Hiragino Kaku Gothic Pro";
	font-size: 14px;
	color: #523200;
}

#grid[data-columns]::before {
	content: '2 .column.size-1of2';
}


.column {
	float: left; 
}
.size-1of2 { 
	width:145px;
	padding-left:10px;
}

.box img,.box_on img {
	width:100%;
}



#comment{
	margin-top:-5px;
	width:145px;
	height:auto;
	background-color: #ffe22d;
}

#comment p{
	text-align:left;
	line-height:15px;
	font-family: "Hiragino Kaku Gothic Pro";
	font-size: 10px;
	color: #523200;
	padding: 6px;
}

.boxSelect {
	opacity: 0.5;
	z-index: 1;
	margin:0 0 10px;
}

.boxSelect img,.boxNonSelect img {
	width: 100%;
}

/*
.boxNonSelect {
	opacity: 1;
	background: #000;
	z-index: -1;
	margin:0 0 10px;
}*/

.box{
	width:100%;
	background:#000;
	display:block;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
	margin:0 0 10px;
}

.box_on{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	margin:0 0 10px;
}

[data-columns]::before { display: none; }