#pagename img {
	display: none;
}

#l_btn a{
	display: none;
}


/*-------------------------
 プロフィール（共通）
-------------------------*/

#profile{
	width:100%;
    color : #000;
	overflow: hidden;
	padding: 5px;
}

#profile_top{
	height: 33px;
	margin: 10px 10px;
	overflow: hidden;
	position: relative;
}

#myphoto img{
	height:30px;
	width:30px;
	float:left;
	overflow: hidden;
}

#myname{
	width:30%;
    color: #000;
   	font-size: 8pt;
	float:left;
	overflow: hidden;
	margin-left: 8pt;
}

.myname{
	font-size: 14pt;
	font-weight: bold;
}

#profile_top table{
	border-spacing: 5pt 0;
	position:absolute;
	right:0;
}

.follow{
	font-size: 8pt;
	text-align: center;
	width: 70px;
	height: 25px;
	color: #fff;
	border-radius: 5px 5px;
}

.follow p{
	color: #fff;
}

.follow a{
	background: url("./img/follow_back.png") no-repeat;
	background-size:70px 30px;
	display: block;
	width: 100%;
	height: 100%;
}


.followcount,.followercount{
	font-size: 8pt;
	color: #fff;
}

#myintro{
	font-size: 9pt;
	margin: 15pt 20px 10pt;
}




/*----------------------------
 タブ切り替え（共通）
-----------------------------*/

.tab{
	background-color: #fff;
}

.tab ul{
	height: 45px;
	margin: 0;
	padding: 0;
	line-height: 100%;
	list-style-type: none;
}

.tab ul li{
	float: left;
	width: 25%;
	text-align: center;
}

.tab ul li a{
	display: block;
	position: relative;
}

.tab ul li a img{
	height: 26px;
	margin: 7pt auto;
}

.tab ul li a:hover{
	background-color: #ffd047;
}

.tab a.now{
	background-color: #ffd047;
}


/*-----------------------------
 タブタイトル（共通）
-----------------------------*/

.tab_title{
	background-color: #e7e4e0;
	color: #808080;
	height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 15px;
}

/*----------------------------
 ふぁぼ
----------------------------*/

.fav_menu{
	background-color: #fff;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	width: 100%;
	height: auto;
}

.fav_menu_photo{
	width: 50px;
	height: 50px;
	padding: 10px;
	float: left;
}

.fav_menu_title{
	font-size: 10pt;
	padding: 10px 10px 0 0;
	font-weight: bold;
}

.fav_menu_title a{
	color:#000;
}

.fav_info_all{
	height: 45px;
	padding-left: 10px;
	overflow:hidden;
}

.fav_menu_info{
	width: 80px;
	height: 30px;
	text-align: center;
	position: relative;
	bottom: -5px;
}

.fav_icon{
	position: relative;
	bottom: -5px;
}

.shareicon{
	margin-right: 10px;
}


/* ContentsArea
-------------------------- */
#share {
	margin: 0 auto;
	padding: 0px 0 50px 0;
	width: 100%;
}

#share p a img{
	width:40px;
	height:30px;
	float:right;
	margin-right:10px;
	margin-top:-20px;
}

#open01{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.close_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -9999px;
	position: absolute;
	background: #000;
	opacity: 0.5;
	z-index: 5;
}

.modal_window {
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -160px;
	width: 320px;
	height: 300px;
	text-align:left;
	display: block;
	background:#fff;
	position: absolute;
	z-index: 10;
}


.modal_window h1{
	margin-top: 20px;
	width:100%;
	height:50px;
	line-height:30px;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	text-align:left;
	background: #fff;
	border-bottom:#FC3 1px solid;
}

.modal_window a img{
	width:30px;
	line-height:-30px;
	float:left;
	margin-top: 20px;
	padding-left:70px;
}


.modal_window p {
	padding: 30px 15px 15px 15px;
	font-size: 12px;
	line-height: 160%;
	text-align:center;
}


/* CSS3 ModalWindow SET
-------------------------- */
@-webkit-keyframes modalFadeIn {
	0% {opacity:0;display:block;}
	100% {opacity:1;}
}
div#modal div:target {
	-webkit-animation-name: modalFadeIn; 
  	-webkit-animation-duration: 0.3s;
  	-webkit-animation-iteration-count: 1;
	opacity: 1;
	display:block;
}
