@charset "UTF-8";
/* CSS Document */


#graph a:hover{
	background-color:#fff;
}

/*-----------------------------
 タブタイトル（共通）
-----------------------------*/

.tab_title{
	background-color: #e7e4e0;
	color: #808080;
	height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 15px;
}


#pagename img {
	display: none;
}


#pagename img {
	display: none;
}

#l_btn a{
	display: none;
}



.tab_contents ul{
	overflow:hidden;
}

.tab_contents ul li{
	padding:5px 10px 4px 10px;
	background:#fff;
	width:100%;
	height:60px;
	border-bottom:#CCC solid 1px;
}

.tab_contents ul li .medalimg{
	float:left;
	width:60px;
	height:60px;
}

.tab_contents ul li img{
	float:left;
	width:60px;
	height:60px;
}

#tab_contents ul li #coment{
	float:left;
	width:80%;
	height:60px;
}

.tab_contents ul li .medallog{
	float:left;
	padding-left:10px;
	width:50%;
	height:25px;
}

.tab_contents ul li .medallog p.a{
	color:#ff6633;
	font-size:15px;
	font-weight:bold;
}
.tab_contents ul li .medallog p.b{
	color:#61AD42;
	font-size:15px;
	font-weight:bold;
}
.tab_contents ul li .medallog p.c{
	color:#3D85AD;
	font-size:15px;
	font-weight:bold;
}

.tab_contents ul li .medalintro{
	float:left;
	padding-left:10px;
	width:75%;
	color:#4D4D4D;
	font-size:12px;
}

.tab_contents ul li .getdate{
	float:right;
	width:25%;
	color:#4D4D4D;
	font-size:11px;
}