@charset "utf-8";
/* CSS Document */

/*----------------------
    デフォルトスタイル
-----------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
    margin:0;
    padding:0;
    border:none;
	outline:none;
	font-size:1rem;
	font-weight:normal;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #600;
}

header,footer,nav{display:block;}

html{
	font:13px/1.3 " HiraKakuProN-W3";
	-webkit-text-size-adjust:none;}

li{list-style:none;}


body{
    background-color:#FDF5E6;
    background-position:center top;
    background-repeat:repeat;
}



/* リンク色変更はここ */

a{
    color:#3cb371;
	text-decoration:none;
}

/* 縦ライン */
#all{
    position: relative;
	width:100%;
	overflow:hidden;
	margin-bottom:50px;
}



/*----------------------------------------
 全ページ共有ここから
----------------------------------------*/

/* 水平ライン */
#head h1:before{
    content:"";
    width:100%;
    height:2px;
	margin-top:-1px;
    display:block;
    position:absolute;
	top:10%;
    z-index:1;
}

#head h1 span{
	background:url(img/head_bg.gif) repeat-x left center;
    padding:0 5px;
	color:#3cb371;
	font-size:10px;
    position:relative;
    z-index:5;
}


.clear {clear:both;}



/*----------------------------------------
ヘッダー　header
----------------------------------------*/

.header {
	width: 140px;
	height: 30px;
	margin:0 auto;
	background-color: #dadbda;
	display:block;
	float:center;
	-webkit-border-radius: 8px;
}

.header a {
	color: #000;
	font-size:x-small;
	float:center;
}



/*----------------------------------------
header_in
----------------------------------------*/

.header_in{
	width:100%;
	height:20px;
	background-color:#E7E4E0;
	padding:10px 0;
}

.header_in a{
	color:#fff;
}


/*----------------------------------------
title
----------------------------------------*/

.date{
	font-size:9pt;
	text-align:right;
	margin-right:10px;
}
.date a{
	color:#444;
}


.title{
	overflow: hidden;
	padding: 5px;
	margin-top: 3px;
	margin-right:10px;
	font-size:13pt;

}
.title a{
	color:#000;
}




/* -----------------------
  左上角丸　最初の行の最初のセル
----------------------- */
.material tr:first-child th:first-child,
.material tr:first-child td:first-child {
    -webkit-border-radius: 10px 0 0 0;
       -moz-border-radius: 10px 0 0 0;
         -o-border-radius: 10px 0 0 0;
            border-radius: 10px 0 0 0;
}
/* -----------------------
  右上角丸　最初の行の最後のセル
----------------------- */
.material tr:first-child th:last-child,
.material tr:first-child td:last-child {
    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
         -o-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}
/* -----------------------
  左下角丸　最後の行の最初のセル
----------------------- */
.material tr:last-child th:first-child,
.material tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 10px;
       -moz-border-radius: 0 0 0 10px;
         -o-border-radius: 0 0 0 10px;
            border-radius: 0 0 0 10px;
}
/* -----------------------
  右下角丸　最後の行の最後のセル
----------------------- */
.material tr:last-child th:last-child,
.material tr:last-child td:last-child {
    -webkit-border-radius: 0 0 10px 0;
       -moz-border-radius: 0 0 10px 0;
         -o-border-radius: 0 0 10px 0;
            border-radius: 0 0 10px 0;
}



/*--------------------
 めにゅー
--------------------*/

#nav{
	position:fixed;
	top:0px;
	height: 34px;
	left:0;
	width: 100%;
	overflow: hidden;
	background-color:#000;
    	background-size:320px,568px;
	text-align:center;
	color: #000;
	float:left;
	box-shadow: 0px 2px 5px #000; /*CSS3*/
	-moz-box-shadow: 0px 2px 5px #000; /* Firefox用*/
	-webkit-box-shadow: 0px 2px 5px #000; /* Google Chrome, Safari用*/

}

.bar{
	width:2px;
	height: 20px;
	margin: 7px 0;
	background-color:#e2aa72;
	float:left;
}
