@charset "utf-8";




/*------------------------
 中身
------------------------*/

.allcontents{
    margin: 45px 0 45px;
    z-index: 1;
    overflow: auto;
    width: 100%;
}

.follow{
	background-color:#fff;
	height:60px;
	margin:0;
	padding-top:10px;
}

.follow a{
	color:#000;
	font-size:15px;
}

.follow_pic{
	margin:0 20px;
	width:50px;
	height:50px;
	float:left;
}

.follow_pic ul img{
	width:50px;
	height:50px;	
}

.follow_btn{
	margin:13px 20px 23px 0;
	width:70px;
	height:24px;
	float:right;
}

.follow_btn ul img{
	width:70px;
	height:24px;
}



