/*-----------------------------
 見出し
-----------------------------*/

.headline{
	background-color: #fafad2;
	padding: 20px 0 20px 10px;
	font-size: 14pt;
	border-bottom: solid 3px #ddd;
}


/*-----------------------------
 内容
-----------------------------*/

.content{
	font-size: 16pt;
	border-bottom: solid 3px #ddd;
	background-color: #fff;
}

.content a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0 20px 20px;
}

.content img{
	height: 30px;
	width: 30px;
	position: relative;
	bottom: -6px;
}

.content table img{
	height: 32px;
	width: 12px;
	margin-right: 40px;
	margin-top: -4px;
}

