/*-----------------------------
 見出し
-----------------------------*/

.headline{
	background-color: #fafad2;
	padding: 30px 0 20px 10px;
	font-size: 14pt;
	border-bottom: solid 3px #ddd;
}


/*-----------------------------
 内容
-----------------------------*/

.content{
	font-size: 16pt;
	height: 50px;
	padding-left: 20px;
	border-bottom: solid 3px #ddd;
	margin-top: 23px;
}

.content table a img{
	height: 32px;
	width: 12px;
	margin-right: 20px;
	margin-top: -4px;
}


