

/*---------------------------------
 個別ページ　基本設定
---------------------------------*/


.recipe_photo{
	padding: 20px 10px 10px 10px;
	height: 80px;
	width: 80px;
	float: left;
}

.recipe_photo img{
	height: 80px;
	width: 80px;
}

.right{
	padding: 20px 10px 10px 0;
	margin-left: 100px;
}

.date{
	text-align: right;
	font-size: 9px;
	color: #4d4d4d;
}

.recipe_name{
	font-size: 13px;
	font-weight: bold;
	color: #1a1a1a;
	height: 40px;
}

.user_info{
	font-size: 8px;
	color: #4d4d4d;
	height: 30px;
	padding-top: 5px;
	margin-bottom: 10px;
}

.user_icon img{
	width: 25px;
	height: 25px;
}

.user_id{
	font-size: 13px;
	font-weight: bold;
	color: #1a1a1a;
}

.comment{
	clear: both;
	margin: 0 10px 10px;
	padding: 10px;
	background-color: #fff;
}

.come_com{
	color: #4d4d4d;
}

.come_com, .come_com .user_id {
	font-size: 11px;
	padding-top: 5px;
}

.com_formsend{
	margin-right: 10px;
	height: 45px;
	display: none;
	position: auto;
}

.hyouji_on{
	display: none;
}

input{
	clear: both;
	float: left;
	width: 220px;
	height: 30px;
	font-size: 11px;
	margin-top: auto;
	border: 0;
}

.send{
	float: right;
	margin-top: 4px;
}

.send img{
	height: 30px;
	width: 48px;
}

.hyouji_btn{
	clear: both;
	text-align: center;
	padding-top: 5px;
	height: 18px;
	width: 120px;
	font-size: 11px;
	background-color: #c9caca;
	border-radius: 3px;
	display: block;
	float: right;
	margin-top: 20px;
}

.com_btn{
	background-color: #efefef;
	float: left;
	height: 25px;
	width: 90px;
	text-align: center;
	border-radius: 4px;
	padding-top: 7px;
	margin: 15px 0 5px 10px;
	clear: both;
}

.com_btn img{
	height: 13px;
	width: 16px;
}

.iine_btn{
	background-color: #efefef;
	height: 25px;
	width: 90px;
	float: left;
	text-align: center;
	border-radius: 4px;
	padding-top: 7px;
	margin: 15px 0 5px 5px;
}

.iine_btn img{
	height: 13px;
	width: 12px;
}

/*---------------------------------
 写真投稿あり
---------------------------------*/

.camera img{
	height: 15px;
	width: 20px;
	margin-left: 5px;
	/*display: none;*/
}

.user_photo img{
	height: 220px;
	width :320px;
	/*display: none;*/
}
